@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';

/* ingen animated/intersect her */

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Anton";
  src: url("/fonts/Anton-Regular.ttf") format("truetype");
  font-style: normal;
}

@theme {
  /* farver */
  --color-brown: #3e2e25;
  --color-beige: #fbebdf;
  --color-chestnut: #855439;
  --color-rose-beige: #c89c83;

  /* font */
  --font-anton: "Anton", sans-serif;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}
